body{
    background-color: salmon;
    font-family: Fleur De Leah;
    font-size: 30px;
}
header{
   font-size: 50px;
   text-align: center;
    background-color: rgb(234, 92, 87);
    border: dotted;
    border-bottom: ;
    - top: dashed;
    - left: dashed;
    - right: dashed;

}
{.Top 1;
text-aligh: center;
color: white;
padding-bottom: 40px;
}